.jumbotron {
  padding-top: 3rem;
  background-color: #e2edff;
}

hr {
  margin: auto;
  width: 200px;
  border-top: 5px solid #0a06ef;
}

#project {
  background-color: #e2edff;
}

.jumbotron img {
  border: 5px solid #0d6efd;
}

footer i {
  color: red;
}

section {
  padding-top: 5rem;
}
